.container {
  width: 100%;
  height: 100vh ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  background-image: url("../public/background0.svg") ;
  background-size: cover ;
}

.button {
  color: #BFA5A8;
  background-color: #574141
}

@media screen and (max-width: 900px) {

  .container {
  width: 100%;
  height: 100vh ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  background: url("../public/background0.svg") ;
  background-size: cover ;
}

.button {
  color: #BFA5A8;
   background-color: #574141
}

}