.container {
  background-image: linear-gradient(to right top, #ff0e4a, #fe1c52, #fe265a, #fc2f61, #fb3768, #fb3769, #fa3869, #fa386a, #fb3265, #fd2b5f, #fe245a, #ff1b54);

}

.appbar {
  display: flex ;
  flex-direction: row ;
}

.header {
  margin: auto auto auto 50px ;
  color: #BFA5A8 ;
  font-weight: bolder ;
}

.home {
  height: 100vh ;
  width: 100% ;
}

.wallet-adapter-button-trigger{
  background-color: #FF1B54 !important ;
  margin: 10px 20px 10px auto !important ;
}

.wallet-adapter-button-trigger:hover,
.wallet-adapter-button-trigger:target
{
background-color: #F84071 !important;
}